.icon-list{
    .content-item{
        display: inline-flex;
        flex-direction: column;
        .item{  
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            margin-right: 5px;
            svg{
                font-size: 25px;
                color: #06b6d4;
            }
        }
        label{
            display: block;
            text-align: center;
            width: 100%;
            font-size: 10px;
        }

    }
}
.title-icon{
    .icon{
        font-size: 30px;
        display: flex;
        color: #06b6d4;
        justify-content: end;
        align-items: center;
    }
}